@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
a {
    text-decoration: none;
    color: #222;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__banner {
    background-image: url('../../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

.header__banner-img {
    opacity: 0.4;
    max-width: 100%;
    margin-left: -69px;
    height: auto;
    height: fit-content;
    object-fit: contain;
}

.header__banner-main>* {
    position: relative;
    max-width: 570px;
    color: #222;
    z-index: 2;
}

.header__banner-main:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to left, #394d6e, #fff);
    opacity: 0.5;
}

.header__banner-text>h4 {
    font-size: 50px;
    color: #fff;
    line-height: 55px;
    letter-spacing: 1px;
    margin: 10px 0;
    text-shadow: 0 0 4px rgba(0, 0, 0, .8);
    font-family: 'Lato';
}

.hr {
    background-color: #a20a0a;
    display: flex;
    height: 4px;
    width: 18%;
}

.btn-header {
    color: #a20a0a !important;
    font-size: 14px !important;
}

.btn-header:hover {
    color: rgba(169, 179, 184, 0.7) !important;
    background-color: #7e1a1a;
}

.header__banner-text>p {
    color: #efede5;
    font-size: 1.4rem;
    font-family: 'Lato';
    font-weight: 400;
}

.header__banner-bottom {
    display: flex;
    align-items: center;
    padding: 0 8px;
    overflow: hidden;
    flex-wrap: wrap;
}

.header__nav {
    display: flex;
    margin: auto;
    margin-top: 0;
}

.header__nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto;
}

.header__nav ul li {
    text-align: center;
    margin: 0 4px;
    background-color: #000000;
    opacity: 0.7;
    box-shadow: 0 0 6px rgb(17, 16, 16);
    transition: all 1000ms;
}

.header__nav ul li:first-child {
    background-color: transparent;
}

.header__nav ul li:hover {
    background-color: transparent;
}

.header__nav-link {
    color: #7c7d7c;
    display: flex;
    width: 90px;
    padding: 5px 0;
    font-weight: 500;
    letter-spacing: 0.5px;
    justify-content: center;
}

.header__nav-link.activated {
    color: #242c34;
    font-weight: 600;
}

.header__nav-link:hover {
    color: #242c34;
    font-weight: 600;
}

.header__banner-bottom hr {
    display: inline;
    width: 320px;
    background-color: grey;
    border: none;
    height: 1px;
    align-self: flex-end;
    text-align: left;
    margin: 0;
}

@media screen and (max-width:768px) {
    .header__banner-main {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .header__banner-text {
        z-index: 100;
        padding-top: 45px;
        text-align: justify;
    }
    .header__banner-text>h4 {
        font-size: 40px;
        line-height: 38px;
        text-shadow: none;
    }
    .header__banner-img {
        visibility: hidden;
    }
    .img.col {
        background-image: url('../../img/portfolio-img1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 250px;
        position: absolute;
        left: 45%;
        top: 1%;
        border-radius: 100%;
        opacity: 0.4;
        max-width: 100%;
        height: 335px;
        width: 335px;
        box-shadow: inset 0 0 20px #d0d0d0, inset 0 0 2px #f8f8f8;
    }
    .header__banner-text>p {
        color: #343434;
        line-height: 26px;
        font-size: 18px;
        max-width: 300px;
    }
    .header__banner-bottom {
        z-index: 100;
        background-color: #fff;
    }
}


/* @media screen and (max-width:1058px) {
    .header__banner-bottom {
        display: flex;
        justify-content: center;
        margin: 0 25px;
    }
    .header__banner-bottom hr {
        width: 120px;
        max-width: 100%;
    }
}



@media screen and (max-width:500px) {
    .header__banner {
        height: fit-content;
    }
    .header__banner-main {
        flex-direction: column;
    }
    .header__banner-img {
        position: relative;
        top: 0;
        left: 0;
    }
    .header__banner-bottom {
        display: flex;
        justify-content: center;
        margin: 0 25px;
    }
    .header__banner-bottom hr {
        width: 120px;
        max-width: 100%;
    }
    .btn-header {
        margin: 0 !important;
        position: fixed;
    }
    .header__banner-img {
        margin-left: -150px;
    }
} */